#big-container{
	background-color: lightblue;
}

#title-container{
	align-items: center;
	justify-content: center;
	display: flex;
	border: 5px solid black;
}

.title{
	color: black;
	font-weight: 600px;
	font-size: 20px;
}